body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://seba.gq/vfl-landing/assets/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.notfound {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 200%;
  color: black;
  text-shadow: 5px 5px white;
}

.navBar {
  list-style-type: none;
  margin: 0;
	top: 0;
	position: fixed;
	width: 100%;
	left: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 9999;
}

li.barItem {
	float: left;
}

a.barItem {
	display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-size: 20px;
	transition-duration: .2s;
}

.barItemActive, a.barItem:hover {
  background-color: #a88d3f;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
	margin-top: 0px;
}

.intro {
  margin-top: 100px;
  text-align: center;
}

.logo img {
  width: 80%;
}

.intro iframe {
  margin-top: 50px;
  width: 350px;
  height: 196.875px;
}

.parent, .article img {
  display: none;
}

.blog {
  margin-top: 50px;
}

.article {
  margin-top: 20px;
  margin-bottom: 20px;
}

.body {
  background: RGBA(0,0,0,0.9);
  padding: 2px 2px;
  color: white;
  border-radius: 10px;
}

.text, .author, .title {
  margin-top: 10px;
  margin-left: 10px;
}

.author {
  color: #a88d3f;
  font-size: 110%;
}

.text a {
  color: #a88d3f;
}
