body {
  font-family: 'Roboto', sans-serif;
  background: url('https://seba.gq/vfl-landing/assets/background.jpg');
  background-size: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.notfound {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 200%;
  color: black;
  text-shadow: 5px 5px white;
}

.navBar {
  list-style-type: none;
  margin: 0;
	top: 0;
	position: fixed;
	width: 100%;
	left: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 9999;
}

li.barItem {
	float: left;
}

a.barItem {
	display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-size: 20px;
	transition-duration: .2s;
}

.barItemActive, a.barItem:hover {
  background-color: #a88d3f;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
	margin-top: 0px;
}

.intro {
  margin-top: 200px;
  text-align: center;
  height: 3343434%;
}

.logo {
  width: 100%;
  position: absolute;
  transform: translateX(-360px) translateY(-30px) rotate(-35deg);
}

.logo img {
  width: 15%;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videos {
  display: flex;
  overflow-x: auto;
  max-width: 1700px;
  margin-top: 100px;
  text-align: center;
}

.videos iframe {
  width: 100%;
  height: 100%;
  margin-bottom: 3px;
}

.videos iframe:not(.first, .last) {
  margin-left: 10px;
  margin-right: 10px;
}

.videos .first {
  margin-right: 10px;
}

.videos .last {
  margin-left: 10px;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #a88d3f;
    border-radius: 5px;
}

.arrow-left {
  margin-right: 10px;
  font-size: 100px;
  transform: translateY(45px);
  cursor: pointer;
  text-shadow: -5px 0px white;
}

.arrow-right {
  margin-left: 10px;
  font-size: 100px;
  transform: translateY(45px);
  cursor: pointer;
  text-shadow: 5px 0px white;
}

.blog {
  margin-top: 200px;
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article img {
  width: 600px;
}

.body {
  width: 1000px;
  margin-left: 40px;
  margin-right: 40px;
  background: RGBA(255,255,255,0.5);
}

.text, .author, .title {
  margin-top: 10px;
  margin-left: 10px;
}

.author {
  color: #a88d3f;
  font-size: 110%;
}

.text a {
  color: #a88d3f;
}
