body {
  background: url("../media/sito 1st creator Romanello.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  font-family: 'Oswald', sans-serif;
}

.card {
  width: 40%;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
}

.video {
  width: 100%;
}

.source {
  border-top-right-radius: 12px;
}

.name, .value {
  margin: 0;
  padding: 0;
}

.card-text {
  color: #e1b12c;
  letter-spacing: 3px;
}

.card-text a {
  color: black;
}

.card-text .section:not(.first) {
  margin-left: 20px;
}

.fullvideo-link {
  text-decoration: none;
  color: black;
  background: white;
  padding: 3px 3px;
  border-radius: 5px;
  transition-duration: .3s;
  font-size: 20px;
  letter-spacing: 19.3px;
}

.fullvideo-link:hover {
  box-shadow: 4px 4px black;
}

.fullvideo-button {
  align-items: center;
  justify-content: center;
  display: flex;
  transform: translateY(-1px);
}
